<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="org.muse.mneme.tool.HomeView"
			class="org.muse.mneme.tool.HomeView"
			init-method="init"
			destroy-method="destroy"
			singleton="true">

		<property name="ui"><ref bean="org.muse.ambrosia.api.UiService"/></property>

 		<property name="toolId"><value>sakai.mneme.test</value></property>
 		<property name="viewId"><value>home</value></property>
 		<property name="bundle"><value>mneme-test-tool</value></property>
	</bean>

	<bean id="org.muse.mneme.tool.ErrorView"
			class="org.muse.mneme.tool.ErrorView"
			init-method="init"
			destroy-method="destroy"
			singleton="true">

 		<property name="ui"><ref bean="org.muse.ambrosia.api.UiService"/></property>
 
 		<property name="toolId"><value>sakai.mneme.test</value></property>
 		<property name="viewId"><value>error</value></property>
 		<property name="bundle"><value>mneme-test-tool</value></property>
	</bean>

	<bean id="org.muse.mneme.tool.GenerateView"
			class="org.muse.mneme.tool.GenerateView"
			init-method="init"
			destroy-method="destroy"
			singleton="true">

		<property name="ui"><ref bean="org.muse.ambrosia.api.UiService"/></property>
		<property name="assessmentService"><ref bean="org.muse.mneme.api.AssessmentService"/></property>
		<property name="threadLocalManager"><ref bean="org.sakaiproject.thread_local.api.ThreadLocalManager"/></property>
		<property name="siteService"><ref bean="org.sakaiproject.site.api.SiteService"/></property>
		<property name="toolManager"><ref bean="org.sakaiproject.tool.api.ToolManager"/></property>
		<property name="sessionManager"><ref bean="org.sakaiproject.tool.api.SessionManager"/></property>
		<property name="timeService"><ref bean="org.sakaiproject.time.api.TimeService"/></property>
		<property name="idManager"><ref bean="org.sakaiproject.id.api.IdManager"/></property>
		<property name="securityService"><ref bean="org.sakaiproject.authz.api.SecurityService"/></property>

 		<property name="toolId"><value>sakai.mneme.test</value></property>
 		<property name="viewId"><value>generate</value></property>
 		<property name="bundle"><value>mneme-test-tool</value></property>
	</bean>

	<bean id="org.muse.mneme.tool.InstallView"
			class="org.muse.mneme.tool.InstallView"
			init-method="init"
			destroy-method="destroy"
			singleton="true">

		<property name="ui"><ref bean="org.muse.ambrosia.api.UiService"/></property>
		<property name="siteService"><ref bean="org.sakaiproject.site.api.SiteService"/></property>
		<property name="toolManager"><ref bean="org.sakaiproject.tool.api.ToolManager"/></property>

 		<property name="toolId"><value>sakai.mneme.test</value></property>
 		<property name="viewId"><value>install</value></property>
 		<property name="bundle"><value>mneme-test-tool</value></property>
	</bean>

	<bean id="org.muse.mneme.tool.InstallAllView"
			class="org.muse.mneme.tool.InstallAllView"
			init-method="init"
			destroy-method="destroy"
			singleton="true">

		<property name="ui"><ref bean="org.muse.ambrosia.api.UiService"/></property>
		<property name="sqlService"><ref bean="org.sakaiproject.db.api.SqlService"/></property>

 		<property name="toolId"><value>sakai.mneme.test</value></property>
 		<property name="viewId"><value>install_all</value></property>
 		<property name="bundle"><value>mneme-test-tool</value></property>
	</bean>

	<bean id="org.muse.mneme.tool.SimulateView"
			class="org.muse.mneme.tool.SimulateView"
			init-method="init"
			destroy-method="destroy"
			singleton="true">

		<property name="ui"><ref bean="org.muse.ambrosia.api.UiService"/></property>
		<property name="assessmentService"><ref bean="org.muse.mneme.api.AssessmentService"/></property>
		<property name="sessionManager"><ref bean="org.sakaiproject.tool.api.SessionManager"/></property>
		<property name="threadLocalManager"><ref bean="org.sakaiproject.thread_local.api.ThreadLocalManager"/></property>
		<property name="timeService"><ref bean="org.sakaiproject.time.api.TimeService"/></property>
		<property name="toolManager"><ref bean="org.sakaiproject.tool.api.ToolManager"/></property>
		<property name="userDirectoryService"><ref bean="org.sakaiproject.user.api.UserDirectoryService"/></property>

 		<property name="toolId"><value>sakai.mneme.test</value></property>
 		<property name="viewId"><value>simulate</value></property>
 		<property name="bundle"><value>mneme-test-tool</value></property>
	</bean>

</beans>
